# ======================================================
#	TYPESCRIPT
# ======================================================
.git/
.github/
.vscode/
.cache/

node_modules/
build/
src/
test/
bundle/

*.log
*.*ignore
*.js.map
*.html

tsconfig.json
package-lock.json